.about {
  text-align: center;
}

.about-img {
  width: 20vw;
  max-width: 124px;
  border-radius: 50%;
  margin: 0 auto;
}

.about-text {
  text-align: justify;
  max-width: 80ch;
  margin: 0 auto;
}

.about-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about .contactBar-link-icon {
}
