.introduction {
  border-bottom: 1px solid #e2e2e2;
}

.introduction-title {
  display: block;
  margin: 0;

  font-size: 2.2em;

  @media (min-width: 768px) {
    margin-top: -1.5%;
    font-size: 3.2em;
  }
}

.introduction p {
  margin: 0;
  max-width: 50ch;

  @media (min-width: 768px) {
    max-width: 60ch;
  }

  &:last-of-type {
    margin-bottom: 12px;
  }
}

.introduction-link {
  &:first-of-type {
    border-bottom-color: $dark-purple;
    margin-right: 16px;
  }

  &:last-of-type {
    border-bottom-color: $dark-green;
  }
}
