.social {
  max-width: 50ch;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6em;

  text-align: center;
  @media (min-width: 768px) {
    text-align: left;
  }
}

.social-title {
  text-align: center;
  margin-bottom: 1ch;
}

.social-links {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.social-link {
  flex: none;
  display: inline-block;

  margin-bottom: 1em;
  border-bottom: none;

  &-icon {
    position: relative;
    top: 6px;
    font-size: 1.5em;
  }

  &-text {
    border-bottom: 1px solid black;
  }
}
