*:focus {
  outline-color: $red;
}

a {
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', 'Georgia', 'serif';
  min-width: 320px;
  color: $black;
  background: $white;
}

.emphasis {
  color: $red;
  font-weight: bold;
}
