.main {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 560px) and (max-width: 1199px) {
    padding-left: 6%;
    padding-right: 6%;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.introduction,
.portfolio,
.social,
.about {
  padding: 40px;
}

.introduction {
  @media screen and (min-width: 700px) {
    margin-bottom: 40px;
  }
}

.portfolio-item {
  margin-bottom: 6em;
}
