@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono:400,700');
$red: #9c1a02;
$black: #0f0f0f;

.emphasis {
  color: $red;
  font-weight: bold;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', 'Georgia', 'serif';
  min-width: 320px;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', 'Avenir Next', 'sans-serif';
}

*:focus {
  outline-color: $red;
}
