$white: #f9f9f7;
$black: #1a1a1a;

.contactBar {
}

.contactBar-links {
  background-color: $white;
  border: 1px solid black;
  z-index: 2;
  // Position contact icons
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -141px;

  @media screen and (max-width: 1067px) {
    left: 50%;
    margin-top: -1px;
    border-radius: 0 0 10px 10px;
  }

  @media screen and (min-width: 571px) {
    margin-left: -161px;
  }

  @media screen and (min-width: 1068px) {
    flex-direction: column;
    border: none;
    // Position bar center-right
    float: right;
    top: 50%;
    right: 0;
    margin-top: -200px;
    margin-right: -1px;
  }
}

.contactBar-link {
  display: block;
  color: $black;
  text-decoration: none;
  padding: 8px;
}

.contactBar-link-icon {
  width: 40px;
  height: 40px;
  color: $black;
  @media screen and (min-width: 571px) {
    width: 48px;
    height: 48px;
  }
  @media screen and (min-width: 1068px) {
    width: 60px;
    height: 60px;
  }
}
